/*estilo de fonte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*estilo do corpo da pagina*/
body{
    background-color: #f7ca96; /*define a cor do fundo da pagina*/
}
H1{
    text-align: center;
}

.bannerHome{
    width: 100%;
    height: 450px;
    cursor: pointer;
}

/* Estilo para a imagem do logotipo */
.imagemhome {
    position: absolute; /* Posiciona a imagem de forma absoluta em relação ao elemento pai */
    top: 8px; /* Define 5px de distância do topo do elemento pai */
    left: 50px; /* Define 50px de distância da borda esquerda do elemento pai */
    width: 50px; /* Define a largura da imagem para 80px */
    height: auto; /* Mantém a proporção original da imagem */
}

/* Estilo da barra de navegação */
.navbar {
    display: flex; /* Usa Flexbox para organizar os itens filhos em linha */
    justify-content: space-between; /* Distribui o espaço entre os itens, colocando-os nas extremidades */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    background-color: #835b2d; /* Define a cor de fundo da barra de navegação para um tom escuro */
    padding: 10px; /* Adiciona 10px de padding em todas as direções dentro da barra de navegação */
}

/* Estilo para os links de navegação */
.nav-links {
    list-style: none; /* Remove os marcadores de lista padrão (bolinhas) */
    display: flex; /* Usa Flexbox para organizar os links em linha */
    margin: 0; /* Remove as margens ao redor da lista */
    padding: 0; /* Remove o padding padrão ao redor da lista */
}

.nav-links li {
    margin-left: 70px; /* Adiciona 20px de margem à esquerda de cada item de lista */
}

.nav-links a {
    font-style: oblique;
    color: rgb(0, 0, 0); /* Define a cor do texto dos links como branca */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    font-size: 16px; /* Define o tamanho da fonte dos links para 16px */
}

.nav-links a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao link quando o cursor passa sobre ele */
}

/* Estilo para a barra de pesquisa */
.barraPesquisa {
    display: flex; /* Usa Flexbox para alinhar os elementos da barra de pesquisa em linha */
    align-items: center; /* Alinha os itens da barra de pesquisa ao centro verticalmente */
}

.barraPesquisa input[type="text"] {
    padding: 5px; /* Adiciona 5px de padding dentro do campo de texto */
    font-size: 16px; /* Define o tamanho da fonte do texto dentro do campo de pesquisa para 16px */
    border-radius: 5px; /* Define bordas arredondadas com 5px de raio */
    border: 1px solid #ccc; /* Define uma borda de 1px de largura com cor cinza claro */
}

.barraPesquisa button {
    padding: 5px 10px; /* Adiciona 5px de padding na parte superior e inferior, e 10px nas laterais do botão */
    font-size: 16px; /* Define o tamanho da fonte do texto dentro do botão para 16px */
    border: none; /* Remove qualquer borda ao redor do botão */
    border-radius: 5px; /* Define bordas arredondadas com 5px de raio */
    background-color: #f7ca96; /* Define a cor de fundo do botão para azul */
    color: rgb(0, 0, 0); /* Define a cor do texto dentro do botão como branco */
    margin-left: 5px; /* Adiciona 5px de margem à esquerda do botão */
}

.barraPesquisa button:hover {
    background-color: #352207; /* Muda a cor de fundo do botão para um azul mais escuro quando o cursor passa sobre ele */
}

/*estilo da caixa de login*/
.login-box {
    background-color: #835b2d; /* Define a cor de fundo da caixa de login como um tom claro (#e7e7e7) */
    padding: 25px; /* Adiciona 20px de espaçamento interno em todos os lados da caixa de login */
    border-radius: 8px; /* Define bordas arredondadas com um raio de 8px */
    width: 300px; /* Define a largura da caixa de login como 300px */
    margin: 0 auto; /* Centraliza horizontalmente */
    position: absolute; /* Faz com que a caixa seja posicionada em relação ao elemento pai */
    top: 50%; /* Posiciona a parte superior da caixa a 50% da altura da tela */
    left: 50%; /* Posiciona o lado esquerdo da caixa a 50% da largura da tela */
    transform: translate(-50%, -50%); /* Move a caixa para que fique exatamente no centro */
}

.login-box h2 {
    margin-bottom: 20px; /* Adiciona 20px de espaço abaixo do título */
    text-align: center; /* Centraliza o texto do título dentro da caixa de login */
    color: #000000; /* Define a cor do texto do título como cor preta */
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%; /* Define a largura dos campos de entrada para ocupar 100% da largura da caixa de login */
    padding: 10px; /* Adiciona 10px de espaçamento interno nos campos de entrada */
    margin-bottom: 10px; /* Adiciona 10px de espaço abaixo de cada campo de entrada */
    border: 1px solid #ccc; /* Define uma borda cinza clara (#ccc) ao redor dos campos de entrada */
    border-radius: 4px; /* Define bordas arredondadas com um raio de 4px para os campos de entrada */
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura e altura totais dos campos */
}

.login-box input[type="submit"] {
    width: 100%; /* Define a largura do botão de envio para ocupar 100% da largura da caixa de login */
    padding: 10px; /* Adiciona 10px de espaçamento interno ao botão de envio */
    background-color: #f7ca96; /* Define a cor de fundo do botão de envio(#00ff19) */
    color: #0f1120; /* Define a cor do texto do botão de envio */
    border: none; /* Remove qualquer borda padrão do botão de envio */
    border-radius: 6px; /* Define bordas arredondadas com um raio de 6px para o botão de envio */
    cursor: pointer; /* Muda o cursor para um ponteiro ao passar sobre o botão, indicando que é clicável */
}

.login-box input[type="submit"]:hover {
    background-color: #443607; /* Muda a cor de fundo do botão de envio para azul (#0056b3) quando o mouse está sobre ele */
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
      
  }
  
  #footer_content {
      background-color: #cea375 ;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      padding: 8px 8px;
  }
  
  #footer_contacts h1{
      margin-top: 8px;
      margin-bottom: 8px;
      
  }
  
  #footer_social_media{
      display: flex;
      gap: 8px;
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 8px 8px;
      
  }
  #footer_social_media .footer-link i{
  font-size: 25px
  }
  
  #footer_social_media .footer-link{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      width: 2.5rem;
      color: #ccc;
      border-radius: 70%;
  }
  
  #instagram{
      background: linear-gradient(#7f37c9, #ff2992,#ff9807);
  
  }
  
  #whatsapp{
      background-color: #25d366;
  }